# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/src/main/resources/assets/medievalworlds/textures/item/old/
/src/main/resources/assets/medievalworlds/textures/entity/anvil/old/
/src/main/resources/assets/medievalworlds/textures/entity/anvil/iron.xcf
/src/main/java/net/jmb19905/medievalworlds/client/model/armor/GambesonModel.bbmodel
/src/main/java/net/jmb19905/medievalworlds/client/model/RoundShield.bbmodel
/src/main/java/net/jmb19905/medievalworlds/client/ber/BellowsRenderer.bbmodel
/src/main/resources/old/
/src/main/java/net/jmb19905/medievalworlds/client/ber/water_wheel.bbmodel
/src/main/java/net/jmb19905/medievalworlds/client/er/CloakModel.bbmodel
/src/main/java/net/jmb19905/medievalworlds/client/model/armor/KettlyHelmetModel.bbmodel
/src/generated/resources/.cache/
/src/generated/resources/assets/medievalworlds/
/src/generated/resources/data/medievalworlds/
/src/generated/resources/data/
